{% extends "base.html" %}

{% block title %}Signup{% endblock title %}

{% block content %}
<fieldset>
    <legend>Signup</legend>
    <form action="{%url 'signup'%}" method='post'>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="submit"><br><br><a href="{% url 'signin' %}">Already have an Account?</a>
    </form>
</fieldset>
<hr>
<p>Or</p>
<a href="{% url 'social:begin' 'google-oauth2' %}">
    <button style="padding: 10px 20px; background-color: #4285F4; color: white; border: none; border-radius: 4px;">
        <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo" style="width:20px; margin-right:8px;">
        Login with Google
    </button>
</a>
{% endblock content %}