<nav class="navbar" id="navbar">
    <div class="nav-container">
        <a href="#" class="logo">UrbanBoard</a>

        <ul class="nav-menu" id="nav-menu">
            <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Services</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Portfolio</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
        </ul>

        <a href="{%url 'signin' %}" class="nav-link cta-button">Login</a>

        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>
