{% extends "base.html" %}

{% block title %}
Boarder
{% endblock title %}


{% block content %}
<h1>Welcome, Boarder {{request.user.email}}</h1>
<h2>Available Flats:-</h2>
<hr>

<form method="get" class="row mb-3">
    <div class="col-md-3">
    {{ form.state.label_tag }} {{ form.state }}
    </div>
    <div class="col-md-3">
    {{ form.city.label_tag }} {{ form.city }}
    </div>
    <div class="col-md-3">
    {{ form.bhk.label_tag }} {{ form.bhk }}
    </div>
    <div class="col-md-3 mt-4">
    <button type="submit" class="btn btn-primary">Filter</button>
    </div>
</form>

{% if all_flats %}
    <div class="flats-container">
        {% for flat in all_flats %}
            <div class="flat-card">
                <h3>{{ flat.title }}</h3>
                <p><strong>City:</strong> {{ flat.city }}, {{ flat.state }}</p>
                <p><strong>BHK:</strong> {{ flat.get_bhk_display }}</p>
                <p><strong>Furnishing:</strong> {{ flat.get_furnishing_display }}</p>
                <p><strong>Rent:</strong> ₹{{ flat.rent }}</p>
                <p><strong>Available From:</strong> {{ flat.available_from }}</p>
                {% if flat.image %}
                    <img src="{{ flat.image.url }}" alt="Flat Image" width="200">
                {% endif %}
                <button type="submit"><a href="{% url 'flat_book' flat.id %}">Book Now</a></button>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No flats listed yet.</p>
{% endif %}

{% block scripts %}
<script>
    const stateField = document.querySelector('#id_state');
    const cityField = document.querySelector('#id_city');

    stateField.addEventListener('change', function () {
        const selectedState = this.value;
        const cityOptions = cityField.options;

        for (let i = 0; i < cityOptions.length; i++) {
            const option = cityOptions[i];
            const state = option.getAttribute('data-state');

            if (!state || state === selectedState) {
                option.style.display = '';
            } else {
                option.style.display = 'none';
            }
        }

        cityField.value = '';
    });
</script>
{% endblock scripts %}


{% endblock content %}