{% extends "base.html" %}

{% block title %}
Boarder
{% endblock title %}


{% block content %}
<h1>Welcome, Boarder {{request.user.email}}</h1>
<h2>Available Flats:-</h2>
<hr>

{% if all_flats %}
    <div class="flats-container">
        {% for flat in all_flats %}
            <div class="flat-card">
                <h3>{{ flat.title }}</h3>
                <p><strong>City:</strong> {{ flat.city }}, {{ flat.state }}</p>
                <p><strong>BHK:</strong> {{ flat.get_bhk_display }}</p>
                <p><strong>Furnishing:</strong> {{ flat.get_furnishing_display }}</p>
                <p><strong>Rent:</strong> ₹{{ flat.rent }}</p>
                <p><strong>Available From:</strong> {{ flat.available_from }}</p>
                {% if flat.image %}
                    <img src="{{ flat.image.url }}" alt="Flat Image" width="200">
                {% endif %}
                <button type="submit"><a href="{% url 'flat_book' flat.id %}">Book Now</a></button>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No flats listed yet.</p>
{% endif %}
{% endblock content %}