{% extends "base.html" %}
{%load static %}
{% block title %}
Landlord
{% endblock title %}


{% block content %}
<h1>Welcome, Landlord {{request.user.email}}</h1>
 <a href="{%url 'create_flat_listing' %}"><button>ADD FLAT</button></a>
 
{%if user_flats%}
  {%for flat in user_flats%}
    <div class="card" style="width: 18rem;">
      

{% if flat.image %}
    <img src="{{ flat.image.url }}" class="card-img-top" alt="Flat image">
{% else %}
    <img src="{% static 'images/default-flat-image.jpg' %}" class="card-img-top" alt="No image available">
{% endif %}

      <div class="card-body">
        <h5 class="card-title">{{flat.title}}</h5>
        <p class="card-text">{{flat.description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{flat.listed_by}}</li>
        <li class="list-group-item">{{flat.rent}}</li>
        <li class="list-group-item">{{flat.listed_on}}</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  {%endfor%}  
{%endif%}
{% endblock content %}