{% extends "base.html" %}

{% block title %}
Createb Flat
{% endblock title %}


{% block content %}
<form action="{%url 'create_flat_listing' %}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    {{form}}
    <input type="submit" value="LISTING YOUR FLAT">
    
</form>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        // YOUR JAVASCRIPT GOES HERE
        $(document).ready(function() {
            const stateDropdown = $("#id_state");
            const cityDropdown = $("#id_city");

            stateDropdown.change(function() {
                const stateName = $(this).val();
                if (stateName) {
                    // This is where the URL from the Canvas is used
                    $.ajax({
                        url: "{% url 'load_cities' %}", 
                        data: {
                            'state': stateName
                        },
                        success: function(data) {
                           cityDropdown.empty();  // clear old options
                    cityDropdown.append('<option value="">Select</option>');
                    $.each(data.cities, function(index, city) {
                        cityDropdown.append('<option value="' + city.id + '">' + city.name + '</option>');
                    });
                        }
                    });
                }
            });
        });
</script>

{% endblock content %}